body {
    background-color: #0f111a;
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0f111a;
}
::-webkit-scrollbar-thumb {
    background: #2d334a;
    border-radius: 10px;
}

.badge {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.badge-gang { background-color: #ef4444; color: white; }
.badge-lspd { background-color: #3b82f6; color: white; }
.badge-civil { background-color: #6b7280; color: white; }
.badge-entreprise { background-color: #f59e0b; color: white; }
.badge-ambiance { background-color: #10b981; color: white; }

.status-true { color: #10b981; }
.status-false { color: #ef4444; }